/* _content/BlazorCardGame/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-uxxx47e69p] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-uxxx47e69p] {
    flex: 1;
}

.sidebar[b-uxxx47e69p] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-uxxx47e69p] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-uxxx47e69p]  a, .top-row[b-uxxx47e69p]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-uxxx47e69p]  a:hover, .top-row[b-uxxx47e69p]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-uxxx47e69p]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-uxxx47e69p] {
        justify-content: space-between;
    }

    .top-row[b-uxxx47e69p]  a, .top-row[b-uxxx47e69p]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-uxxx47e69p] {
        flex-direction: row;
    }

    .sidebar[b-uxxx47e69p] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-uxxx47e69p] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-uxxx47e69p]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-uxxx47e69p], article[b-uxxx47e69p] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-uxxx47e69p] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-uxxx47e69p] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorCardGame/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-jo7cnduvuo] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-jo7cnduvuo] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-jo7cnduvuo] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-jo7cnduvuo] {
    font-size: 1.1rem;
}

.bi[b-jo7cnduvuo] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-jo7cnduvuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-jo7cnduvuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-jo7cnduvuo] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-jo7cnduvuo] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-jo7cnduvuo] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-jo7cnduvuo] {
        padding-bottom: 1rem;
    }

    .nav-item[b-jo7cnduvuo]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-jo7cnduvuo]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-jo7cnduvuo]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-jo7cnduvuo] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-jo7cnduvuo] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-jo7cnduvuo] {
        display: none;
    }

    .nav-scrollable[b-jo7cnduvuo] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorCardGame/Components/Pages/Auth/AccessDenied.razor.rz.scp.css */
/* _content/BlazorCardGame/Components/Pages/Auth/Login.razor.rz.scp.css */
h3[b-jsxfsfo6wj],
input[b-jsxfsfo6wj],
p[b-jsxfsfo6wj],
button[b-jsxfsfo6wj] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form[b-jsxfsfo6wj] {
    display: flex;
    justify-content: center;
    position: relative;
}


h3[b-jsxfsfo6wj] {
    text-align: center;
}

button[b-jsxfsfo6wj] {
    background-color: rgb(187, 250, 229);
    border-radius: 10px;
    border: rgb(149, 252, 218) solid;
}

button:hover[b-jsxfsfo6wj] {
    background-color: rgb(107, 223, 252);
    border: rgb(107, 223, 252) solid;
}

.remember-me[b-jsxfsfo6wj] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* _content/BlazorCardGame/Components/Pages/Auth/Logout.razor.rz.scp.css */
/* _content/BlazorCardGame/Components/Pages/Auth/Register.razor.rz.scp.css */
h3[b-vvfvrexj0l], p[b-vvfvrexj0l], input[b-vvfvrexj0l], button[b-vvfvrexj0l]{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.register-form[b-vvfvrexj0l]{
    display: flex;
    justify-content: center;
    position: relative;
}

h3[b-vvfvrexj0l]{
    text-align: center;
}

button[b-vvfvrexj0l]{
    background-color: rgb(187, 250, 229);
    border-radius: 10px;
    border: rgb(149, 252, 218) solid;
}

button:hover[b-vvfvrexj0l]{
    background-color: rgb(107, 223, 252);
    border: rgb(107, 223, 252) solid;
}
/* _content/BlazorCardGame/Components/Pages/LeaderBoard.razor.rz.scp.css */
h3[b-1mgci28981],
p[b-1mgci28981] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select[b-1mgci28981] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.score-table[b-1mgci28981]{
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th[b-1mgci28981],
td[b-1mgci28981] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: darkorchid;
}

th[b-1mgci28981] {
    font-size: 20px;
    background-color: rgb(210, 165, 221);
}

td[b-1mgci28981] {
    font-size: 18px;
}
/* _content/BlazorCardGame/Components/Pages/Partials/DiscardPile.razor.rz.scp.css */
.card-stack[b-c3ukdjjxj4] {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back[b-c3ukdjjxj4] {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}
/* _content/BlazorCardGame/Components/Pages/Partials/GameCard.razor.rz.scp.css */
.card[b-0s7ewnrvps] {
    width: 100px;
    height: auto;
    margin: 0 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: thistle;
    border: none;
}

.card:hover[b-0s7ewnrvps] {
    transform: translateY(-10px);
    background-color: thistle;
    border-radius: 5%;
    border: none;
}
/* _content/BlazorCardGame/Components/Pages/Partials/GameDeck.razor.rz.scp.css */
.trump-card[b-4uwr5lm0ll] {
    transform: rotate(270deg);
    width: 100px;
    height: auto;
}

.trump-suit[b-4uwr5lm0ll] {
    position: absolute;
    right: 20px;
    width: 75px;
    height: auto;
    top: 50%;
}

.deck-stack[b-4uwr5lm0ll] {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back[b-4uwr5lm0ll] {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}
/* _content/BlazorCardGame/Components/Pages/Partials/GameSettings.razor.rz.scp.css */
h2[b-8b77zkgj9q],button[b-8b77zkgj9q],.modal-content[b-8b77zkgj9q],label[b-8b77zkgj9q],select[b-8b77zkgj9q]{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* _content/BlazorCardGame/Components/Pages/Partials/Opponent.razor.rz.scp.css */
.opponent-hand[b-0nrmjuysbw] {
    justify-content: center;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: none;
}
/* _content/BlazorCardGame/Components/Pages/Partials/OpponentCard.razor.rz.scp.css */
.card-back[b-rfxkdhwbqh] {
    width: 100px;
    height: auto;
    margin: 0 5px;
    background-color: thistle;
    border: none;
    flex-shrink: 1;
}
/* _content/BlazorCardGame/Components/Pages/Partials/PlayerHand.razor.rz.scp.css */
.player-hand[b-g4mslbypke]{
    justify-content:center;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: none;
}
/* _content/BlazorCardGame/Components/Pages/Partials/TheFoolRules.razor.rz.scp.css */
h2[b-eh1szv1vjs], h4[b-eh1szv1vjs]{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p[b-eh1szv1vjs]{
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
details > summary[b-eh1szv1vjs] {
    padding: 5px;
    background-color: rgb(182, 154, 240);
    color: rgb(51, 2, 87);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    border: 1px rgb(182, 154, 240) solid;
    cursor: pointer;
    list-style: none;
}

details > div[b-eh1szv1vjs] {
    border: 1px rgb(182, 154, 240) solid;
    padding: 10px;
}
/* _content/BlazorCardGame/Components/Pages/TheFool.razor.rz.scp.css */
h1[b-0o9jxtxef0],
h2[b-0o9jxtxef0],
h4[b-0o9jxtxef0],
label[b-0o9jxtxef0],
p[b-0o9jxtxef0],
em[b-0o9jxtxef0] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: black;
}

.game-table[b-0o9jxtxef0] {
    position: relative;
    width: 100%;
    height: 700px;
    background-color: thistle;
    display: flex;
    border: 10px slateblue solid;
    border-radius: 15px;
}

.opponent-cards[b-0o9jxtxef0],
.player-cards[b-0o9jxtxef0] {
    position: absolute;
    width: 85%;
    height: 141px;
    display: flex;
    justify-content: center;
}

.opponent-cards[b-0o9jxtxef0] {
    top: 30px;
}

.player-cards[b-0o9jxtxef0] {
    bottom: 70px;
    cursor: pointer;
}

.center-table[b-0o9jxtxef0] {
    position: relative;
    top: 27%;
    left: 9%;
    height: 200px;
    width: 68%;
}

.win-lose[b-0o9jxtxef0] {
    position: relative;
    top: 25%;
    left: 15%;
}

.win[b-0o9jxtxef0] {
    position: absolute;
    left: -5%;
    color: rgb(1, 168, 112);
    font-size: 50px;
    text-shadow: 2px 2px 2px rgb(1, 82, 78);
}

.lose[b-0o9jxtxef0] {
    color: darkred;
    font-size: 50px;
    position: absolute;
    left: 10%;
    text-shadow: 2px 2px 2px rgb(48, 0, 10);
}

.draw[b-0o9jxtxef0] {
    color: rgb(78, 16, 129);
    font-size: 50px;
    position: absolute;
    left: 10%;
    text-shadow: 2px 2px 2px rgb(33, 0, 48);
}

.attacking-cards[b-0o9jxtxef0] {
    display: flex;
}

.defending-cards[b-0o9jxtxef0] {
    display: flex;
    position: absolute;
    top: 30px;
}

.attacking-card[b-0o9jxtxef0],
.defending-card[b-0o9jxtxef0] {
    width: 100px;
    height: auto;
    margin: 0 15px;
}

.deck[b-0o9jxtxef0] {
    position: absolute;
    right: 20px;
    top: 34%;
    transform: translateY(-50%);
}

.discard-pile[b-0o9jxtxef0] {
    position: absolute;
    right: 80px;
    top: 68%;
    transform: rotate(270deg);

}

.controls[b-0o9jxtxef0] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    bottom: 20px;
    left: 42%;
    transform: translateX(-50%);
}

button[b-0o9jxtxef0] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 7.5px;
    border: rgb(92, 180, 252) solid;
    background-color: #ade6fd;
    text-transform: uppercase;
    letter-spacing: .10rem;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

button:hover[b-0o9jxtxef0] {
    background-color: rgb(92, 180, 252);
}
