.card-stack {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}

@media ( max-width: 600px ) {
    .card-stack {
        width: 80px;
    }

    .stacked-back {
        width: 40px;
    }
}