@if (deck != null && player != null && opponent != null)
{
    int discardIndex = discardCardIndexes.Count;

    if (discardCardCount > 0)
    {
        while (discardCardIndexes.Count != discardCardCount)
        {
            discardIndex++;
            discardCardIndexes.Add(discardIndex);
        }
        
        <div class="card-stack">

            @foreach (var index in discardCardIndexes)
            {
                <img src="/Images/back_cyan.png" alt="back @index" class="stacked-back"
                    style="@($"transform: translate({-((index+1)*1)}px, 0px);")">
            }
        </div>
    }
}

@code {
    [Parameter]
    public int discardCardCount { get; set; } = 0;
    [Parameter]
    public Deck deck { get; set; } = new Deck();
    [Parameter]
    public Player player { get; set; } = new Player();
    [Parameter]
    public AIPlayer opponent { get; set; } = new AIPlayer();
    private List<int> discardCardIndexes = new List<int>();
}
