.trump-card {
    transform: rotate(270deg);
    width: 100px;
    height: auto;
}

.trump-suit {
    position: absolute;
    right: 25px;
    width: 125px;
    height: auto;
    top: 40%;
}

.deck-stack {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}

@media ( max-width: 600px ) {
    .trump-card {
        width: 40px;
    }

    .trump-suit {
        width: 50px;
        right: 15px;
        top: 50%;
    }

    .deck-stack {
        width: 80px;
    }

    .stacked-back {
        width: 40px;
    }
}