@if (State == GameState.JustStarted)
{
   <span class="display-3 text-info">Начало партии</span>
}
@if (State == GameState.InProgress)
{
   <span class="display-3 text-info">In progress...</span>
}
@if (State == GameState.Finished)
{
   <span class="display-3 text-danger">Игра закончена. Победил игрок $@Winner.Name</span>
   <br />
   <span class="display-3 text-primary">$@Scores</span>
}

@code
{
   [Parameter]
   public GameState State { get; set; }
   [Parameter]
   public Dictionary<string, int> Scores { get; set; } = new Dictionary<string, int>();
   [Parameter]
   public Player Winner { get; set; } = new Player();
}
