@using BlazorCardGame.Models

@code{
    [Parameter]
    public Card Card{get;set;}
}

@if(Card!=null)
{
    @if(!Card.IsPlayable)
    {
        <button class="game-card-button" enable ="return false">
            <img class="card" src="@Card.ImageUrl"/>     
        </button>
    }
    else{
        <button class="game-card-button" enable ="return true">
            <img class="card" src="@Card.ImageUrl"/>     
        </button>
    }
}