<div class="opponent-hand">
    @foreach (var card in opponent.inHand)
    {
        <OpponentCard Card="card" counter="counter" />
        counter++;
    }
    
    @if (counter >= opponent.inHand.Count)
    {
        counter = 0;
    }
</div>



@code {
    [Parameter]
    public AIPlayer opponent { get; set; } = new AIPlayer();
    private int counter = 0;
}