@if (opponent != null)
{
    <div class="opponent-hand">
        @foreach (var card in opponent.inHand)
        {
            <img src="/Images/back_cyan.png" class="card-back" />
        }
    </div>
}


@code {
    [Parameter]
    public AIPlayer opponent { get; set; } = new AIPlayer();
}