@using BlazorCardGame.Models

@code
{
    [Parameter]
    public List<Card> Cards { get; set;} = new List<Card>();
}

<div>
    @foreach(var card in Cards){
        <GameCard Card="card"/>
    }
</div>