<div class="player-hand">
    @foreach (var card in player.inHand)
    {
        <GameCard Card="card" OnCardSelected="HandleCardSelected" />
    }
</div>

@code
{
    [Parameter]
    public Player player { get; set; } = new Player();
    [Parameter]
    public Table table { get; set; } = new Table();

    private void HandleCardSelected(string cardName)
    {
        Console.WriteLine(cardName);
        foreach (var card in player.inHand)
        {
            if (card.ToString() == cardName)
            {
                if (card.IsPlayable && player != null)
                {
                    if (player.CanBeSelected(table))
                    {
                        card.IsSelected = !card.IsSelected;
                        player.RefreshPlayable();

                    }
                }
            }
        }
    }
}