<div>
    @foreach (var card in Cards)
    {
        <GameCard Card="@card" OnCardSelected="HandleCardSelected" />
    }
</div>

@code
{
    private List<Card> Cards { get; set; } = new List<Card>();
    private void HandleCardSelected(string cardName) { }
}