<hr />

<h2>Управление</h2>

<p><strong>Нажмите</strong> на кнопку "Новая игра", чтобы начать игру.</p>
<p><strong>Нажмите</strong> на кнопку "Завершить ход", чтобы закончить текущий ход.</p>
<p><strong>Нажмите</strong> на кнопку "Взять карты", чтобы взять карты со стола.</p>
<p><strong>Кликните</strong> на доступную для хода карту, чтобы выбрать, чем атаковать соперника.</p>
<p><strong>Нажмите</strong> на кнопку "Походить", чтобы атаковать противника выбранными картами.</p>

<hr />

<h2>Правила игры "Дурак"</h2>

<p>"Дурак" - карточная игра для игроков в количестве от 2 до 6 человек</p>

<h4>Цель игры</h4>

<p>Скинуть все свои карты и выйти из игры раньше всех. Последний завершивший игрок считается "дураком"</p>

<h4>Правила игры</h4>

<p>В начале партии тасуется колода.</p>
<p>После того, как колоду перетасовали игроки получают по 6 карт. </p>
<p>Оставшаяся колода располагается рубашками вверх за исключением последней - та масть, к которой принадлежала последняя
    карта, становится козырной и бьет все другие.</p>
<p>Игроки ходят по часовой стрелке. Первым ходит игрок с наименьшей козырной картой, в последующих партиях игроки ходят
    из-под "дурака".</p>
<p>
    Каждый игрок ходит либо по одной карте, либо картами одинакового достоинства.
    Оппонент должен "побить" все выложенные карты, положив свои карты достоинством выше (не считая козырных) на карты
    другого игрока.
</p>
<p>Если игроку нечем "бить" карты соперника, он должен взять все выложенные карты себе.</p>
<p>Если в колоде заканчиваются карты, игроки разыгрывают все имеющиеся у них карты.</p>