.trump-card[b-4uwr5lm0ll] {
    transform: rotate(270deg);
    width: 100px;
    height: auto;
}

.trump-suit[b-4uwr5lm0ll] {
    position: absolute;
    right: 50px;
    width: 75px;
    height: auto;
    top: 50%;
}

.deck-stack[b-4uwr5lm0ll] {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back[b-4uwr5lm0ll] {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}