h3,
input,
p,
button {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form {
    display: flex;
    justify-content: center;
    position: relative;
}


h3 {
    text-align: center;
}

button {
    background-color: rgb(187, 250, 229);
    border-radius: 10px;
    border: rgb(149, 252, 218) solid;
}

button:hover {
    background-color: rgb(107, 223, 252);
    border: rgb(107, 223, 252) solid;
}

.remember-me {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}