@page "/login"

@inject NavigationManager NavigationManager

<div class="login-form">

    <EditForm id="login-form" Model="@loginModel" @OnSubmit="HandleLogin" FormName="login-form">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h3>Вход</h3>
        <div class="login">
            <p>
                Логин: <br />
                <InputText id="login" placeholder="Логин" @bind-Value="loginModel.Login" />
                <ValidationMessage For="@(() => loginModel.Login)" />
            </p>
        </div>
        <div class="password">
            <p>
                Пароль:<br />
                <InputText id="password" type="password" placeholder="Пароль" @bind-Value="loginModel.Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </p>
        </div>
        <button type="submit">Войти</button>
    </EditForm>
</div>


@code {
    private LoginModel loginModel = new("", "");
    private void HandleLogin()
    {
        Console.WriteLine($"Login: {loginModel.Login}\nPasssword: {loginModel.Password}");
        if (loginModel.Login == "admin" && loginModel.Password == "admin")
            NavigationManager.NavigateTo("/thefool");
    }
}