@page "/register"

@inject NavigationManager NavigationManager



<div class="register-form">

    <EditForm Model="@registerModel" @OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        
        <h3>Регистрация</h3>
        <div class="login">
            <p>Логин: <br />
                <InputText id="login" Placeholder="Логин" @bind-Value="registerModel.Login" />
                <ValidationMessage For="@(() => registerModel.Login)" />
            </p>
        </div>
        <div class="password">
            <p>Пароль:<br />
                <InputText id="password" type="password" Placeholder="Пароль" @bind-Value="registerModel.Password" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </p>
        </div>
        <div class="confirm-password">
            <p>Подтверждение:<br />
                <InputText id="confirm-password" type="password" Placeholder="Подтвердите пароль"
                    @bind-Value="registerModel.ConfirmPassword" />
                <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
            </p>
        </div>
        <button type="submit">Зарегистрироваться</button>

    </EditForm>
</div>


@code {
    private RegisterModel registerModel = new RegisterModel();
    private void HandleRegister()
    {
        NavigationManager.NavigateTo("/thefool");
    }
}
