.card-stack[b-c3ukdjjxj4] {
    position: relative;
    width: 200px;
    height: auto;
}

.stacked-back[b-c3ukdjjxj4] {
    position: absolute;
    width: 100px;
    height: auto;
    right: 0;
    top: 0;
}