.card[b-0s7ewnrvps] {
    width: 100px;
    height: auto;
    margin: 0 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: thistle;
    border: none;
}

.card:hover[b-0s7ewnrvps] {
    transform: translateY(-10px);
    background-color: thistle;
    border-radius: 5%;
    border: none;
}

@media ( max-width: 600px ) {
    .card[b-0s7ewnrvps] {
        width: 40px;
        margin: 0 3px;
    }

    .card:hover[b-0s7ewnrvps] {
        border-radius: 2%;
    }
}