.player-hand[b-g4mslbypke]{
    justify-content:center;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: none;
}

@media ( max-width: 600px ) {
    .player-hand[b-g4mslbypke] {
        flex-wrap: wrap;
    }
}