h3[b-1mgci28981],
p[b-1mgci28981] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select[b-1mgci28981] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.score-table[b-1mgci28981]{
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
}

th[b-1mgci28981],
td[b-1mgci28981] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: darkorchid;
}

th[b-1mgci28981] {
    font-size: 20px;
    background-color: rgb(210, 165, 221);
}

td[b-1mgci28981] {
    font-size: 18px;
}