h3[b-jsxfsfo6wj],
input[b-jsxfsfo6wj],
p[b-jsxfsfo6wj],
button[b-jsxfsfo6wj] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.login-form[b-jsxfsfo6wj] {
    display: flex;
    justify-content: center;
    position: relative;
}


h3[b-jsxfsfo6wj] {
    text-align: center;
}

button[b-jsxfsfo6wj] {
    background-color: rgb(187, 250, 229);
    border-radius: 10px;
    border: rgb(149, 252, 218) solid;
}

button:hover[b-jsxfsfo6wj] {
    background-color: rgb(107, 223, 252);
    border: rgb(107, 223, 252) solid;
}

.remember-me[b-jsxfsfo6wj] {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a[b-jsxfsfo6wj] {
    display: inline-block;
    padding: 5px 10px;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    color: #006134;
}