h3[b-60ll6vbauw], label[b-60ll6vbauw], input[b-60ll6vbauw], text[b-60ll6vbauw], button[b-60ll6vbauw]{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button[b-60ll6vbauw]{
    background-color: rgb(187, 250, 229);
    border-radius: 10px;
    border: rgb(149, 252, 218) solid;
}

button:hover[b-60ll6vbauw]{
    background-color: rgb(107, 223, 252);
    border: rgb(107, 223, 252) solid;
}