h1[b-0o9jxtxef0],
h2[b-0o9jxtxef0] {
    text-align: center;
}

.game-table[b-0o9jxtxef0] {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: cover;
}

.opponent-cards[b-0o9jxtxef0],
.player-cards[b-0o9jxtxef0] {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opponent-cards[b-0o9jxtxef0] {
    top: 70px;
}

.player-cards[b-0o9jxtxef0] {
    bottom: 70px;
}

.card-back[b-0o9jxtxef0],
.player-card[b-0o9jxtxef0] {
    width: 100px;
    height: auto;
    margin: 0 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.player-card:hover[b-0o9jxtxef0],
.player-card.selected[b-0o9jxtxef0] {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.center-table[b-0o9jxtxef0] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected-cards[b-0o9jxtxef0] {
    display: flex;
}

.deck[b-0o9jxtxef0] {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.trump-card[b-0o9jxtxef0] {
    /* right: 20px; */
    transform: rotate(90deg);
    width: 125px;
    height: auto;
}

.deck-back[b-0o9jxtxef0] {
    transform: translateX(-50%);
    width: 125px;
    height: auto;
}

.controls[b-0o9jxtxef0] {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}