@page "/"

<PageTitle>Карточные игры</PageTitle>

<h4>
    Данный сайт будет содержать примеры карточных игр, написанных как учебный проект для изучения ООП и фреймворка Blazor
</h4>

<p>
    Для выбора игры воспользуйтесь меню навигации слева :)
</p>

<div class="source-code">
    <a href="https://github.com/Stebusha/WebGameTheFool" alt="Go To Source Code">
        <img title="Go To Source Code" alt="Go To Source Code" src="https://img.shields.io/badge/source-code-black?logo=github&amp:style=flat">
    </a>
</div>