h3,
p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

select {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

.score-table {
    border-radius: 10px;
    border-spacing: 5px;
    text-align: center;
    border-collapse: collapse;
}

th,
td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: rgb(108, 0, 161);
    padding: 5px 50px;
}

th {
    font-size: 20px;
    background-color: rgb(210, 165, 221);
}

th:first-child,
td:first-child {
    text-align: left;
}

td {
    font-size: 18px;
}

tr:nth-child(even) {
    background-color: rgb(246, 231, 252);
}