@page "/login"

@inject NavigationManager NavigationManager

<h3>Вход</h3>

<EditForm Model="@loginModel" @OnValidSubmit="HandleLogin">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="login">
        <label for="login">Логин</label>
        <InputText id="login" placeholder="Логин" @bind-Value="loginModel.Login" />
        <ValidationMessage For="@(() => loginModel.Login)" />
    </div>
    <br />
    <div class="password">
        <label for="password">Пароль</label>
        <InputText id="password" type="password" placeholder="Пароль" @bind-Value="loginModel.Password" />
        <ValidationMessage For="@(() => loginModel.Password)" />
    </div>
    <br />
    <button type="submit" class="">Войти</button>
</EditForm>

@code {
    private LoginModel loginModel = new ("", "");
    private void HandleLogin()
    {
        Console.WriteLine($"Login: {loginModel.Login}\nPasssword: {loginModel.Password}");
        NavigationManager.NavigateTo("/thefool");
    }
}