h1,
h2 {
    text-align: center;
    color: black;
}

.game-table {
    position: relative;
    width: 100%;
    height: 700px;
    background-size: cover;
}

.opponent-cards,
.player-cards {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
}

.opponent-cards {
    top: 70px;
}

.player-cards {
    bottom: 70px;
    cursor: pointer;
}

.card-back,
.player-card {
    width: 100px;
    height: auto;
    margin: 0 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.player-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.selected{
    transform: translateY(-10px);
    position: fixed;
}

.center-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selected-cards {
    display: flex;
}

.deck {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.trump-card {
    /* right: 20px; */
    transform: rotate(90deg);
    width: 125px;
    height: auto;
}

.trump-suit{
    position: absolute;
    right: 25px;
    width: 75px;
    height: auto;
    top: 50%;
}

.deck-back {
    transform: translateX(-50%);
    width: 125px;
    height: auto;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.in-table{
    transform: translate(-50%-50%);
}